@model IEnumerable<LojaNicholas.Models.Vendedores>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro Vendedor</h1>

<p>
    <a asp-action="Create">Criar Vendedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CdVend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DsNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdTab)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtNasc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CdVend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DsNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdTab)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtNasc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
